html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

$colWhite: #fff;
$colWhiteDark: #f9fafa;
$colDark: #000;
$colDark72: rgba(0, 0, 0, 0.72);
$colBlueDark: #204497;
$colGray: #546e7a;
$colGrayLight: #667085;

$colBackgroundWhite: #fff;
$colBackgroundGray: #d9d9d9;
$colBackgroundGrayDark: #dcddde;
$colBackgroundBlue: #089ce2;
$colBackgroundBlueDark: #204497;
$colBackgroundDark: rgba(0, 0, 0, 0.7);

$mockup_max_400: 400px;
$wraper_max_400: 368px;

#app {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $colBackgroundDark;
  z-index: 9999;

  .modal_card {
    position: relative;
    top: calc(50% - 300px);
    left: 0;
    right: 0;
    width: 100%;
    max-width: $mockup_max_400;
    height: 100%;
    max-height: 625px;
    background-color: $colBackgroundWhite;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 20px $colDark;
    box-sizing: border-box;

    .modal_card_header {
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      border-radius: 8px;
      align-items: center;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

      span {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      button {
        padding: 10px;
        font-size: larger;
        width: 55px;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      button:active {
        transform: translateY(10px);
        opacity: 0.5;
        border-radius: 8px;
      }
    }

    .modal_card_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;

      .modal_card_content_img {
        height: 250px;
        width: auto;
        padding: 5px;

        img {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }
      }

      .modal_card_content_desc {
        box-sizing: border-box;
        padding: 20px;
        background-color: $colBackgroundGray;
        width: 100%;
        max-width: $mockup_max_400;
        border-radius: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $colDark;
        text-align: justify;
        opacity: 0.7;
      }
    }
  }
}

header {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 1px 0 0;
  position: relative;
  background-color: $colBackgroundWhite;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

  nav {
    width: 100%;

    .menu {
      width: 359px;
      height: 86px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 103px;
        height: 100%;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 86px;
        letter-spacing: 0.01em;
        text-transform: uppercase;

        a {
          color: $colDark;
        }
      }

      .links {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        width: 370px;
        line-height: 86px;
        float: right;

        a {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: 0.01em;
          color: $colDark72;
        }

        .links_active {
          color: $colDark;
          text-decoration-line: underline;
        }

        .links_main:hover,
        .links_main:focus,
        .links_main:active {
          color: $colDark72;
          text-decoration: none;
        }

        a:hover,
        a:focus,
        a:active {
          color: $colDark;
          text-decoration-line: underline;
        }
      }

      .burger {
        display: block;
        background: url("../img/burger.svg");
        background-size: cover;
        width: 24px;
        height: 25px;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.breadcrumb {
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: relative;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: $wraper_max_400;
    margin: 40px auto;
    height: 24px;

    li:first-child {
      .breadcrumb_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $colGrayLight;

        .breadcrumb_link_img {
          width: 24px;
          height: 24px;
          margin-left: 0px;
          position: relative;

          img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }

        .breadcrumb_link_text {
          margin-left: 8px;
        }
      }
    }

    .breadcrumb_link {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $colBlueDark;

      .breadcrumb_link_img {
        width: 16px;
        height: 16px;
        margin-left: 8px;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }

      .breadcrumb_link_text {
        margin-left: 8px;
      }
    }
  }
}

.group3545 {
  box-sizing: border-box;
  display: block;
  max-width: $wraper_max_400;
  width: 100%;
  height: 34px;
  margin: 0 auto;
  position: inherit;

  .group3545_cont {
    position: absolute;
    left: auto;
    width: 100%;
    max-width: 384px;
    margin: 0 0 0 auto;

    .group3545_img {
      max-width: 384px;
      width: 100%;
      height: 34px;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    span {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 350px;
      height: 34px;
      margin: 0 auto;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      color: $colWhiteDark;
      text-align: center;
      text-transform: capitalize;
    }
  }
}

.groups_info {
  display: flex;
  flex-direction: column;
  max-width: $mockup_max_400;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;

  .groups_info_37_38 {
    box-sizing: border-box;
    display: inline;
    float: left;
    margin: 65px 0 42px 0;
    position: relative;
    width: 100%;
    max-width: $mockup_max_400;
    order: 2;

    .group3537 {
      display: block;
      position: inherit;
      right: 0;
      width: 100%;
      max-width: $mockup_max_400;

      .group3537_img_first {
        max-width: $mockup_max_400;
        width: 100%;
        height: 184.05px;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .group3537_img_second {
        max-width: 210px;
        width: 100%;
        height: 100%;
        max-height: 300px;
        position: absolute;
        top: 0;
        right: 0;

        img {
          position: absolute;
          top: 92px;
          right: 0;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }

      .group3537_text {
        margin: 291.95px auto 0 auto;
        width: 100%;
        max-width: $wraper_max_400;
        height: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $colGray;
      }
    }

    .group3538 {
      position: relative;
      width: 100%;
      max-width: $wraper_max_400;
      margin: 48px auto 0 auto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      color: $colGray;
      order: 1;

      p:first-child {
        width: 100%;
        max-width: $wraper_max_400;
        margin: 0 auto;
      }

      .group3538_list {
        width: 100%;
        max-width: $wraper_max_400;
        margin: 21px auto 19px auto;

        li::before {
          content: "";
          display: inline-block;
          width: 13px;
          height: 13px;
          background-color: $colBackgroundBlueDark;
          margin-right: 20px;
        }

        li {
          display: flex;
          align-items: center;
        }
      }

      p:last-child {
        margin: 0 1px 0 0;
        width: 100%;
        max-width: 367px;
        height: 100%;
      }
    }
  }

  .group3536 {
    position: relative;
    float: right;
    width: 100%;
    max-width: 400px;
    margin: 24px auto 0 0;
    box-sizing: border-box;
    display: inline;
    position: relative;

    h5 {
      width: 363px;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      color: $colGray;
      margin: 0 22px 27px 15px;
    }

    p {
      width: 363px;
      margin: 0 18px 0 19px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $colGray;

      br {
        display: block;
      }
    }

    br {
      display: none;
    }

    p:nth-child(4) {
      margin: 39px 18px 42px 19px;
    }
  }

  .group0000 {
    margin: 0px 0 59.8px 0;
    box-sizing: border-box;
    display: inline;
    position: relative;
    float: right;
    width: 100%;
    max-width: $mockup_max_400;
    order: 3;

    .group0000_img_first {
      max-width: $mockup_max_400;
      width: 100%;
      height: 195.2px;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
  }
}

.gallery {
  width: $mockup_max_400;
  padding: 0 0 0 2px;
  height: 760.7px;
  margin: 0 auto 39px auto;
  position: relative;
  display: block;
  box-sizing: border-box;
  overflow: hidden;

  .gallery_arrows {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .gallery_arrow {
      cursor: pointer;
      padding: 6px;
      width: 23px;
      height: 38px;

      .gallery_arrow_left {
        display: block;
        background: url("../img/arrow_left.svg");
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      .gallery_arrow_right {
        background: url("../img/arrow_right.svg");
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }

    .gallery_arrow:active {
      transform: translateY(10px);
    }

    .gallery_arrow:hover {
      opacity: 0.5;
    }
  }

  .gallery_frame {
    width: 308px;
    height: calc(760.7px - 12px);
    margin: 0 auto;

    .gallery_frame_net {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: space-between;

      .gallery_frame_net_element {
        background-color: $colBackgroundGray;
        border-radius: 8px;

        .gallery_frame_net_element_img {
          border-radius: 8px;
          background-color: $colBackgroundGray;
          position: relative;
          z-index: 30;
          cursor: pointer;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }

      .gallery_frame_net_element:nth-child(2) {
        order: -1;
      }

      .gallery_frame_net_element:nth-child(4) {
        order: 1;
      }

      .gallery_frame_net_element:nth-child(5) {
        order: 1;
      }

      .gallery_frame_net_280 {
        max-width: 146px;
        width: 100%;
        height: 171.84px;
      }

      .gallery_frame_net_560 {
        max-width: 308px;
        width: 100%;
        height: 171.84px;
      }
    }

    .gallery_frame_pagination {
      margin: 0 auto;
      width: 100%;
      max-width: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .gallery_frame_pagination_circle {
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
      .gallery_frame_pagination_not_active {
        background-color: $colBackgroundGray;
      }
      .gallery_frame_pagination_active {
        background-color: $colBackgroundBlueDark;
      }
    }
  }
}

footer {
  position: relative;
  height: 0.3px;
}

@import "max399.scss";
@import "min401_max610.scss";
@import "min611_max1060.scss";
@import "min1061_max1109.scss";
